@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
:root {
    --azul: #1d0af7;
    --amarelo: #f8ff00;
}
header {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #006DA4; 
    padding: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    transition: background-color 0.3s
}
header a{
    text-decoration: none;
    color: white;
}

.container-nav {
    display: flex;
    justify-content: space-around;
    
}
.container-nav ul {
    display: flex;
    text-align: center;
    padding-top: 16px;
    transition: transform 0.2s;
}
.container-nav li {
    margin-left: 20px;
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container-nav a {
    font-size: 16px;
    text-decoration: none;
    color: var(--amarelo);
    transition: 0.3s;
    font-weight: bold;
    position: relative;

}

.container-nav a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px; 
    border-radius: 50px;
    box-shadow: 0 4px 10px black;
    background-color: var(--amarelo); 
    transform: scaleX(0); 
    transform-origin: center;
    transition: transform 0.3s;
}
.container-nav a:hover::after {
    transform: scaleX(1);
}
.container-nav a:hover {
    color: black;
}


.boas-vindas {
    background: rgba(0, 0, 0, 0.8) url(https://images.pexels.com/photos/4475523/pexels-photo-4475523.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center;
    background-size: cover;
    height: 90vh;
    background-blend-mode: darken;
    margin-top: 80px;
}
.boas-vindas h1 {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 200px 20px 10px 40px;
    color: white;
    font-size: 35px;
    text-align: center;
}
.apresentacao {
    padding: 10px 400px 10px 400px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.cadastro {
    text-align: center;
    color: white;
    padding-top: 20px;
}
form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form input {
    padding: 12px 40px 12px 10px;
    width: 200px;
    border: none;
    border-radius: 20px ;
    border-color: 20px solid #225577;
}
form button {
    color: white;
    background-color: #004D74;
    border: none;
    border-radius: 20px;
    padding: 12px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.3s;
}
button:hover {
    background-color: white;
    color: var(--azul);
}
.sobre {
    height: 55vh;
}
footer {
    background-color: var(--azul);
    color: white;
    padding: 60px;
    text-align: center;
}
.linha {
    background-color: white;
    width: 96%;
    height: 1px;
    margin: 20px;
    
}

#if:hover{
    background: white;
    padding-top: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
    height: 10px;
    width: 100px;
    border-radius: 90px;
}

#ii:hover{
    background: white;
    padding-top: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
    height: 10px;
    width: 100px;
    border-radius: 90px;
}           

#it:hover{
    background: white;
    padding-top: 25px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7px;
    height: 10px;
    width: 100px;
    border-radius: 90px;
}

#lo{
    background-color: #4285F4;
    color: white;
    border: none;
    width: 9.5vh;
    height: 3vh;
    font-size: 15px;
    display:flex;
    align-items: center;
    justify-content:center ;
    justify-self: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
    box-shadow: 0 4px 8px black;
}
#lo:hover {
    background-color: white;
    color: var(--azul);
}

#il{
    margin-right: 2px;
    color: white;
}
.sobre h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 42px;
    color: var(--azul);
}
.sobre h3 {
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
}
.imgs {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
.titulo {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
.sobre img {
    height: 130px;
}
.funcoes {
    margin-right: 18px;
    color: var(--azul);
}
.des {
    display: flex;
    justify-content: space-around;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
    height: 300px; 
    width: 450px;
    cursor:default;
}
.card:hover {
    transform: scale(1.10);
}
.logo-container {
    display: flex;
    align-items: center;
}

.no{
    color: rgb(148, 0, 0);
    margin-top: 100px;
    text-align: center;
}

.linhaa{
    background-color:rgb(148, 0, 0);
    width: 96%;
    height: 1px;
    margin: 20px;
}

.not{
    display: flex;
    flex-direction: row;
    margin-left: 250px;
    margin-top: 90px;
    
     
    
}

.cad{
    background: white;
    border-radius: 10px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
    height: 528px; 
    width: 350px;
    cursor:default;
    display: flex;
    flex-direction: column;
}
.cad:hover {
    transform: scale(1.10);
}
.cad h1{
    display: flex;
    color: red;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
}
.cad h4{
    display: flex;
    align-items: flex-start;
    margin-bottom: 90px;
    
}
.cad h5{
    color: gray;
    margin-top: 70px;
}

.cad1{
    background: url(https://img.freepik.com/free-photo/attractive-social-media-influencer-sitting-home-studio-desk-while-starting-streaming-from-living-room-with-smartphone-young-content-creator-recording-daily-vlog-with-touchscreen-modern-device_482257-48435.jpg?w=826&t=st=1679759619~exp=1679760219~hmac=06b509fd8dfbf66fc423e10c78fd98be0bd7d3dd09554e646eaba525f0f56ae8) no-repeat center center ;
    border-radius: 10px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    text-align: center;
    height: 232px;
    width: 478px;
    cursor:default;
    display: flex;
    flex-direction: column;
    color: white;
    transition: transform 0.3s;
}

.cad1:hover {
    transform: scale(1.10);
}

a{
    text-decoration: none;
    color: black;
}

.cad1 h3{
    margin-top: 160px;
    
}

.col a{
    text-decoration: none;
    color: white;
    
}

.cad2{
    background: url(https://s2-g1.glbimg.com/337EHfIcrZ4SeOx35QjRNcLtjtI=/540x304/top/smart/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/d/z/vFoW5MRSmwxWJBILyNcQ/muitas-notas-de-dolares-dos-eua.jpg) no-repeat center center ;
    border-radius: 10px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
    height: 232px;
    width: 478px;
    cursor:default;
    display: flex;
    flex-direction: column;
    color: white;

}

.cad2:hover {
    transform: scale(1.10);
}

.cad2 h3{
    margin-top: 160px;
    border: black;
    
}

#ec{
    color:white;
    width: 100px;
}

#menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;  
    
}

.inf{
display: flex;
text-align: center;
align-items: center;
justify-content: space-around;

}

th, td {
    padding: 10px;
}

td {
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

img {
    max-width: 100%;
} 

table li{
    margin: 10px;
}

@media (max-width: 768px) {
    
    header{
        flex-direction:row-reverse ;
        align-items:flex-start;
    }


    #nav-bar{
        position: absolute;
    }


    .container-nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container-nav li {
        margin: 10px 0;
    }

    
    .boas-vindas h1 {
        padding: 40px 20px 10px 20px;
        font-size: 28px;
        margin-top: 120px;
    }

    .apresentacao {
        padding: 10px 20px;
        font-size: 16px;
    }

    form input {
        width: 100%;
    }

    form button {
        margin: 10px 0;
    }

    .sobre {
        height: auto;
    }

    .imgs, .imgs-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 60%;
    }

    #menu-toggle {
        display: block; /* Exibir em telas menores */
    }

    .not{
        display: flex;
        flex-direction:column;
        margin-left: 60px;
        margin-top: 80px;
        
    }

    .cad1{
        width: 400px;
    }

    .cad{
        width: 400px;
        
    }

    .cad2{
        width: 400px;
    }

    .container-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--azul);
        padding: 10px;
        z-index: 999;
    }


    .container-nav.show {
        display: flex; /* Exibir quando a classe show é adicionada */
    }

    .container-nav li {
        margin: 10px 0;
    }

    footer {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }

    #if, #ii, #it {
        display: block;
        margin: 10px auto;
    }
   
}

/* Estilo para telas pequenas (máximo de 480px de largura) */
@media (max-width: 480px) {
    .boas-vindas h1 {
        font-size: 24px;
    }

    .apresentacao {
        font-size: 14px;
    }
}